<article class="post-card {{post_class}}">
    <div class="post-content">
        <a class="post-card-content-link" href="{{url}}">
            <header class="post-full-header">
                <h1 class="post-title">{{title}}</h1>
            </header>
        </a>

        {{#if primary_tag}}
        <section class="post-full-tags">
            {{#primary_tag}}
            <a href="{{url}}">{{name}}</a>
            {{/primary_tag}}
        </section>
        {{/if}}

        <div class="post-card-byline-content">
            <span class="post-card-byline-date">{{authors}} &ndash; <time><datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></span>
        </div>

        <section class="post-content">
                {{content}}
        </section>

        <footer class="post-card-meta">
        </footer>

    </div>{{!--/.post-card-content--}}

</article>
