{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> site-header}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <article class="post-full {{post_class}}">
            <header class="post-full-header">
                <h1 class="post-title">{{title}}</h1>
                    <div class="post-card-byline-content">
                        <span class="post-card-byline-date">{{authors}} &mdash; <time>
                            <datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                    {{#primary_tag}} &mdash; <a href="{{url}}">{{name}}</a>{{/primary_tag}}
                            </span>
                    </div>
            </header>

            <section class="post-content">
                <div class="post-content">
                    {{content}}
                </div>
            </section>
        </article>
    </div>
</main>

{{/post}}
